main{
    background-color: rgb(186, 73, 73);
    min-height: 100vh;
    width: 100%;
    color: white;
    transition: background-color 0.5s ease-in-out 0s;
    padding-bottom: 12px;
    box-sizing: border-box;
}
.content_fix{
    margin: 0 auto;
    width: 70%;
}

.primarycolor{
    color:#fff
}
#navbar{
    border-bottom: 1px solid #7a7a7a;
    
  }
  #navbar a{
    color: #fff;;
  }
  #navbar a:hover{
    color: #7a7a7a;
  }
  #navbar .active{
    border-bottom: 1px solid #050505;
  }
  .navbar-brand{
    display: flex;
    align-items: center;
  }
  .navbar-brand img{
    width: 40px;
  }
  .navbar-brand span{
    font-weight: 700;
    font-size: 1.5em;
    margin-left: 0.5em;
    text-align: center;
  }
  #navbar-items .navbar-nav{
    display: flex;
    justify-content: flex-end;
    width: 100%;
  }
  #navbar-items .nav-item{
    margin: 0 1em;
  }
.pomofix_content{
    max-width: 480px;
    min-width: 433px;
    margin: auto;
}

.pomoclock {
    background-color: rgba(255, 255, 255, 0.1);
    padding: 20px 0px 30px;
    border-radius: 6px;
    margin-bottom: 20px;
    width: 100%;
}
.pomoselectors {
    display:flex;
    justify-content: center;
    align-items: center;
}
.pomotime {
    font-size: 120px;
    font-weight: bold;
    margin-top: 5vh;
    margin-bottom: 5vh;
}


#footer {
    padding: 1em 1em;
}
#footer-top {
    margin-bottom: 2em;
}
#footer-top,
#footer-top i {
    color: #fff;
}
#social-icons {
    text-align: right;
}
#social-icons i{
    margin-right: 1em;
    font-size: 1.5em;
    cursor: pointer;
}
#social-icons i:hover {
    color: #7a7a7a;
}
#footer-details {
    margin-bottom: 3em;
}
#news-container,
#contact-container,
#links-container {
    padding: 0;
    border: 0;
    margin-bottom: 2em;
}
#footer-details h4 {
    color: #fff;
    margin-bottom: 1.5em;
}
#links-container li {
    margin-bottom: 0.5em;
}
#links-container a {
    text-decoration: none;
}
#links-container a:hover {
    color: #fff;
}
#footer-bottom {
    border-top: 1px solid #7a7a7a;
    padding-top: 2em;
}
#footer-bottom i {
    color: #e61e10;
}